#head1{
    text-align: center;
    
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(78, 78, 132);


    
}


#home{
    position: absolute;
    height: 30px;
    width: 30px;
    text-align: right;
    top: 3%;
    left: 97%;









}














